<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name_color</key>
	<dict>
		<key>B</key>
		<real>0.315</real>
		<key>G</key>
		<real>0.41</real>
		<key>R</key>
		<real>0.672</real>
	</dict>
	<key>Content_color</key>
	<dict>
		<key>B</key>
		<string>0.4</string>
		<key>G</key>
		<string>0.2</string>
		<key>R</key>
		<string>0</string>
	</dict>
</dict>
</plist>
