<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>info</key>
	<dict>
		<key>name</key>
		<string>default</string>
		<key>author</key>
		<string>xxx</string>
		<key>version</key>
		<integer>1</integer>
		<key>nightmode</key>
		<true/>
		<key>imagealpha</key>
		<real>0.6</real>
		<key>maskalpha</key>
		<real>0.4</real>
	</dict>
	<key>color</key>
	<dict>
		<key>user</key>
		<string>4f5d6a</string>
		<key>user_sd</key>
		<string>23262b</string>
		<key>user_anony</key>
		<string>4f5d6a</string>
		<key>user_admin</key>
		<string>9b926f</string>
		<key>user_current</key>
		<string>9b926f</string>
		<key>account</key>
		<string>513f31</string>
		<key>content</key>
		<string>879aab</string>
		<key>tag</key>
		<string>4f5d6a</string>
		<key>vote</key>
		<string>4f5d6a</string>
		<key>vote_sd</key>
		<string>23262b</string>
		<key>vote_after</key>
		<string>55a3d7</string>
		<key>background</key>
		<string>23262b</string>
		<key>article_new</key>
		<string>879aab</string>
		<key>article_heighlight</key>
		<string>393c42</string>
		<key>comment_link</key>
		<string>4d5a63</string>
		<key>comment_floor</key>
		<string>4d5a63</string>
		<key>vote_upa</key>
		<string>ff0000</string>
		<key>vote_dna</key>
		<string>1212ff</string>
		<key>account_btn</key>
		<string>513e31</string>
		<key>account_label</key>
		<string>9e8c7b</string>
		<key>segment_on</key>
		<string>9b9da9</string>
		<key>segment_off</key>
		<string>22252c</string>
		<key>article_state_publish</key>
		<string>4f5d6a</string>
		<key>article_state_pending</key>
		<string>4f5d6a</string>
		<key>article_state_other</key>
		<string>4f5d6a</string>
		<key>slider_name</key>
		<string>8a9baf</string>
		<key>slide_cell</key>
		<string>8a9baf</string>
		<key>slide_cell_sd</key>
		<string>000000</string>
		<key>setting_table_border</key>
		<string>3e4349</string>
		<key>review_bg</key>
		<string>E2DACB</string>
		<key>nav_title</key>
		<string>949ca9</string>
		<key>nav_title_sd</key>
		<string>1f2227</string>
		<key>post_title</key>
		<string>949ca9</string>
	</dict>
	<key>New item</key>
	<string></string>
</dict>
</plist>
